@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #2E3D8A;
    --color-secondary: #3E4C9D;
    --color-tertiary: #F0F2F6;
    --color-interactible-primary: #FFFFFF;
    --color-interactible-primary-active: #5D71D6;
    --color-interactible-secondary: #5D71D6;
    --color-interactible-secondary-active: #FFFFFF;
    --color-icon-primary: #F0F2F6;
    --color-icon-primary-active: #F0F2F6;
}
